.header{
    height: 35px;
    vertical-align: middle;
    font-size: 1.5em;
}

center {
    height: 100%;

    
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align: stretch;

    display: -moz-box;
    -moz-box-orient: vertical;
    -moz-box-align: stretch;

    display: box;
    box-orient: vertical;
    box-align: stretch;
    
}

.ui-content{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
}
.footer{
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: stretch;

    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-align: stretch;

    display: box;
    box-orient: horizontal;
    box-align: stretch;
}

.footer> *{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
}

.hbutton{
    display: inline-block;
    max-width: 100px;
    width: 100px;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
    /*border: 1px solid gray;*/
}

html, body{
    height: 100%;
}
#randomize{
    height: 100%;
}

.yui3-js-enabled .yui3-scrollview-loading {
    visibility:hidden;
}

#scrollview-yearcontent {
    white-space:nowrap;
}
 
#scrollview-yearcontent li {
    display:inline-block;
    background-color:none;
    margin:8px;
}

#scrollview-genrecontent {
    white-space:nowrap;
}

#scrollview-genrecontent li {
    display:inline-block;
    background-color:none;
    margin:8px;
}

#scrollview-popcontent {
    white-space:nowrap;
}

#scrollview-popcontent li {
    display:inline-block;
    background-color:none;
    margin:8px;
}

.highlighted {
	font-weight:bold;
}

.image-title{
    min-width: 300px;
    max-width: 300px;
    min-height: 300px;
    max-height: 300px;
}

.selectors .scroller{
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    
    border: 1px solid #222;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#555),color-stop(1,#333));
    background-image: -moz-linear-gradient(top,#555,#333);
    
    color: white;
}
.scroller{
    height: 60px;
    margin-top: 0;
    padding-top: 0;
    
}

/*#scrollview-genrecontent,*/
#scrollview-genrecontent ul,
/*#scrollview-yearcontent,*/
#scrollview-yearcontent ul,
/*#scrollview-popcontent,*/
#scrollview-popcontent ul{
    -webkit-margin-before: 1em;
    -webkit-margin-before: 0em;
    width: 100%;
}
.yui3-scrollview{
    width: 100%;
}
.hbutton{
    font-size: 1.3em;
    width: 125px;
}