.header{
    height: 35px;
    vertical-align: middle;
    font-size: 1.4em;
}

center {
    height: 100%;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align: stretch;

    display: -moz-box;
    -moz-box-orient: vertical;
    -moz-box-align: stretch;

    display: box;
    box-orient: vertical;
    box-align: stretch;
}

.ui-content{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
}
.footer{
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: stretch;

    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-align: stretch;

    display: box;
    box-orient: horizontal;
    box-align: stretch;
}

.footer> *{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
}

.hbutton{
    display: inline-block;
    max-width: 100px;
    width: 100px;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
    /*border: 1px solid gray;*/
}

html, body{
    height: 100%;
}
#randomize{
    height: 100%;
}

.yui3-js-enabled .yui3-scrollview-loading {
    visibility:hidden;
}

#scrollview-yearcontent {
    white-space:nowrap;
}
 
#scrollview-yearcontent li {
    display:inline-block;
    background-color:#fff;
    margin:8px;
}

#scrollview-genrecontent {
    white-space:nowrap;
}

#scrollview-genrecontent li {
    display:inline-block;
    background-color:#fff;
    margin:8px;
}

#scrollview-popcontent {
    white-space:nowrap;
}

#scrollview-popcontent li {
    display:inline-block;
    background-color:#fff;
    margin:8px;
}

.image-title{
    min-width: 300px;
    max-width: 300px;
    min-height: 300px;
    max-height: 300px;
}